@media (max-width: 800px) {
    #contenedor-menu {
        display: none;
    }
    #contenedor-menu-responsive {
        display: block;
    }
    header div h1 {
        font-size: 2em;
    }
    header > div {
        margin: 2em;
    }
}

@media (min-width: 800px) {
    #contenedor-menu {
        display: block;
    }
    #contenedor-menu-responsive {
        display: none;
    }
}